demo-modbus-tcp-2-mqtt/gotoams-node-red-temp-sensor-flow.json
[{"id":"cf1aa231.00ad4","type":"modbustcp-read","z":"18ea2fff.f5cb78","name":"PoE Temperature Sensor","dataType":"HoldingRegister","adr":"40006","quantity":"1","rate":"2","server":"2b2cfc2a.f748dc","x":133.1999969482422,"y":412.20001220703125,"wires":[["e0b27c1c.cb1f3"]]},{"id":"87bba8dd.6fced8","type":"debug","z":"18ea2fff.f5cb78","name":"","active":true,"console":"false","complete":"false","x":477.00008392333984,"y":410.13334941864014,"wires":[]},{"id":"e0b27c1c.cb1f3","type":"function","z":"18ea2fff.f5cb78","name":"Read Temperature","func":"/* This Modbus registry is in format Int*10,\n * so we have to divide by 10 to get the value\n * in °C.\n */\nmsg.payload = msg.payload[0]/10;\nreturn msg;","outputs":1,"noerr":0,"x":313.20003509521484,"y":494.53337383270264,"wires":[["87bba8dd.6fced8","cb41e98e.e98f58"]]},{"id":"cb41e98e.e98f58","type":"function","z":"18ea2fff.f5cb78","name":"relayr Payload Formatting","func":"msg.payload = {\n    meaning: 'temperature',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":529.2000198364258,"y":559.533350944519,"wires":[["2d0d0e6b.db33d2"]]},{"id":"2d0d0e6b.db33d2","type":"mqtt out","z":"18ea2fff.f5cb78","name":"","topic":"/v1/<YOUR_DEVICE_ID>/data","qos":"","retain":"","broker":"cfc9d6cd.7d8768","x":761.2277450561523,"y":465.7000455856323,"wires":[]},{"id":"2b2cfc2a.f748dc","type":"modbustcp-server","z":"","host":"192.168.1.213","port":"502","unit_id":"1"},{"id":"cfc9d6cd.7d8768","type":"mqtt-broker","z":"","broker":"mqtt.relayr.io","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]